extends layout

block content
    h1 Welcome to #{title}
    h2= result

    form#fire(name="fire",method="post",action="/battleship")
        | X: 
        input#inputXCoordinate(type="text", placeholder="0", name="xcoordinate") 
        br
        | Y: 
        input#inputYCoordinate(type="text", placeholder="0", name="ycoordinate") 
        br
        input#BoardData(type="hidden", value=boardString, name="boardString", readonly)
        button#btnSubmit(type="submit") submit

    #container
        table#board
            - for ( y = 0; y < 3; y++ )
                tr
                    - for( x= 0 ;x < 3 ; x++ )
                        - const cell = cells[x][y]
                        - let color = 'blue';
                        - if (cell != null) {
                        -   if (cell == 0) {
                        -     color = 'white'
                        -   } else if (cell < 0) {
                        -     color = 'red'
                        -   }
                        - }
                        - let tag = 'blue'
                        td(style="background-color:#{color}")
